.loggin{
    text-align: center;
}
.loggin__form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.loggin__form *{
    width:400px;
    height:40px;

}

.loggin__boton{
    color:azure;
    background: #2A7AE4;
}

.formcontato__send{
    width:400px;
    box-shadow: 2px 2px 40px 0px rgba(0, 102, 255, 0.8);
    border-radius: 6px;
    position:relative;
    top:-300px;
    left:40%;
    transform: scale(0.01);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;  
    background: var(--cor-de-fundo); 
    transition: transform 0.6s, top 0.4s;
    visibility: hidden;
    
    
    
  }
  
  .formcontato__send--open{
    visibility: visible;
    transform: scale(1);
  }



/*Mobile*/
@media (max-width: 768px) {
.loggin__form *{
    width:300px;
    
    
}
    

}